body{background-image:url('bg.jpg');}
  
h1{background-image:url('headbg.jpg');
  hight:200px;
  width:800px;
  border-radius:10px;
}
  
div {background-image:url('bg2.jpg');
    border:4px solid blue;
    border-radius:15px;
    hight:750px;
    width:800px; }
p img { border:3px solid black;
    padding:1px;
    margin:10px;
    border-radius:15px ; 
    animation:pluse 5s infinite}

h3 { background-image:url('bg2.jpg');
    border:5px solid blue;
    border-radius:15px ; 
    hight:750px;
    width:800px; 
   align:center; }

span img {background-color:lightgrey;
         hight:70px;
          width:75px;
          padding:7px;
    		 margin:20px;
         border-radius:33px;
        border:3px solid black;
 animation:spin 6s linear infinite;}
@keyframes spin{
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}}
@keyframes pluse{
  0%,100%{transform:scale(1);}
  60% {transform:scale(1.2);}}
  

